<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec = "http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Pizza Pronto</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">


    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />

    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>

<!--<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">-->
<!--    <a class="navbar-brand" href="#">PizzaPronto</a>-->
<!--    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">-->
<!--        <span class="navbar-toggler-icon"></span>-->
<!--    </button>-->
<!--    <div class="collapse navbar-collapse" id="navbarNav">-->
<!--        <ul class="navbar-nav ml-auto">-->


<!--            <li class="nav-item active">-->
<!--                <a class="nav-link active" th:href="@{/Admin/viewAdminPage}">All Dishes</a>-->

<!--            </li>-->
<!--            <li class="nav-item">-->
<!--                <a class="nav-link active" th:href="@{/Admin/viewAddProductPage}">Add Dish</a>            </li>-->
<!--            <li class="nav-item">-->
<!--                <a class="nav-link active" th:href="@{/Admin/addUser}">Add User</a>-->
<!--            </li>-->

<!--            <li class="nav-item">  </li>-->
<!--            <li class="nav-item">  </li>-->

<!--            <li class="nav-item">-->
<!--                <form sec:authorize="isAuthenticated()" th:action="@{/User/logout}" method="post">-->
<!--                    <input class="btn btn-outline-light"  type="submit" value="Sign Out"/>-->
<!--                </form>-->
<!--            </li>-->



<!--        </ul>-->
<!--    </div>-->
<!--</nav>-->


<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">PizzaPronto</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">


            <li class="nav-item active" sec:authorize="isAuthenticated()">
                <!--                <a class="nav-link active" th:href="@{/Admin/viewAdminPage}">edit Menu</a>-->

                <a class="nav-link active" th:href="@{/Menu/all}">edit Menu</a>

            </li>
            <li sec:authorize="isAuthenticated()" class="nav-item mr-10">
                <a class="nav-link active">process Order</a>
            </li>

            <li sec:authorize="hasRole('ADMIN')" class="nav-item active" >
                <a class="nav-link active"  >manage staff</a>

            </li>
            <li sec:authorize="hasRole('ADMIN')"  class="nav-item mr-10">
                <a class="nav-link active">manage customer</a>
            </li>


            <li sec:authorize="!isAuthenticated()" class="nav-item">
                <a class="btn btn-info" th:href="@{/User/login}">Login</a>
            </li>
            <form sec:authorize="isAuthenticated()" th:action="@{/User/logout}" method="post">
                <input class="btn btn-info"  type="submit" value="Sign Out"/>
            </form>




        </ul>
    </div>
</nav>


<div class="card">
    <div class="card-header">
        <p class="h4 mb-2 text-center">Add Dish</p>
    </div>
    <div class="card-body">
        <form class="text-center border border-light p-5" th:action="@{/Menu/AddProduct}"
              th:object="${p1}" method="Post"   enctype="multipart/form-data">

          <!--   <input type="number"  name="id" id="id" th:field="*{id}" hidden="hidden" >-->
            <input type="text" name="pname" id="name" th:field="*{name}" class="form-control mb-4"
                   placeholder="Dish Name">

            <input type="text" name="price" id="price" th:field="*{price}"  class="form-control mb-4"
                   placeholder="Dish Price">



            <label for="categorie">Categorie:</label>
            <select name="categorie" id="categorie" class="form-control mb-4" th:field="*{categorie}">
                <option value="Vorspeise">Vorspeise</option>
                <option value="Hauptgericht">Hauptgericht</option>
                <option value="Getränke">Getränke</option>
            </select>

            <textarea class="form-control mb-4" id="desc" th:field="*{shortDescreption}"  name="desc"
                      placeholder="Dish Description">Dish Description
                                 </textarea>

            <textarea class="form-control mb-4" id="longDesc" th:field="*{longDescreption}"  name="longDesc"
                      placeholder="Dish Details">Dish Details
                                 </textarea>

            <div >
                <!-- Display all ingredients with checkboxes -->
                    <div th:each="ingredient : ${allIngredients}">
                        <input type="checkbox"  th:value="${ingredient.id}" th:name="ingredientIds"/>
                        <label th:text="${ingredient.name}"></label><br/>
                    </div>
            </div>

            <div class="custom-file mb-4">
                <input type="file" name="image" accept="image/png, image/jpeg" class="custom-file-input"
                       id="customFile" required >
                <label class="custom-file-label" for="customFile">Dish Image</label>
            </div>
            <button class="btn btn-info btn-block" type="submit">add</button>
        </form>
    </div>
</div>

<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>
