<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec = "http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Ecom</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">


    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />

    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-custom justify-content-center">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
        <ul class="nav justify-content-center">

         <li class="nav-item">
                <a class="nav-link active" th:href="@{/Admin/viewAdminPage}">All Product</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" th:href="@{/Admin/viewAddDishPage}">Add Dish</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" th:href="@{/Admin/addUser}">Add User</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" th:href="@{/Admin/viewAllEmployee}">view all Employee</a>
            </li>


            <li  class="nav-item" sec:authorize="isAuthenticated()">
                Welcome Admin , <a class="nav-link" sec:authentication="principal.firstname"> </a>
            </li>



            <li class="nav-item">
                <form   th:action="@{/Product/search }  "
                        method="GET"  class="form-inline">
                    <input class="form-control mr-sm-2" type="search" name="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit ">Search </button>
                </form>
            </li>

            <li sec:authorize="!isAuthenticated()" class="nav-item">
                <a class="btn btn-outline-light" th:href="@{/User/login}">Login</a>
            </li>
            <form sec:authorize="isAuthenticated()" th:action="@{/User/logout}" method="post">
                <input class="btn btn-outline-light"  type="submit" value="Sign Out"/>
            </form>

        </ul>

    </div>
</nav>



<center>
<a  class="btn btn-outline-dark" th:href="@{/Admin/viewAddDishPage}">&#x2190; Add Dish</a>

    <div class="alert alert-info" th:if="${success}" style="color: #d58512 ;" >
        <p class="text text-center">
            Adding User is success!!
        </p>



</center>
<!-- Proudacts-->
<div class="container">
    <br>
    <div class="row">
        <tr th:each="products : ${p1}">
            <div class="col-lg-4">
                <img class="thumbnail" th:src="${products.pictureUrl}">
                <div class="box-element product">

                    <h6> <span th:text="${products.name}"></span></h6>
                    <hr>
                    <li >
                        Price :<span th:text="${products.price}"> $ </span>
                    </li>
                    <!-- Add to Card -->
                    <a th:href="@{/Admin/update(id=${products.id})}" class="btn btn-outline-secondary add-btn">Update</a>
                    <!-- View -->
                    <a class="btn btn-outline-success" th:href="@{/Admin/delete(id=${products.id})}">delete</a>
                    <li>Descreption: <span th:utext="${products.shortDescreption}"></span></li>
                </div>
            </div>
        </tr>

    </div>

</div>

<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</body>
</html>