<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec = "http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Pizza Pronto</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">


    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />

    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body id="homebody">






<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">PizzaPronto</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">


            <li class="nav-item active" sec:authorize="isAuthenticated()">
<!--                <a class="nav-link active" th:href="@{/Admin/viewAdminPage}">edit Menu</a>-->

                <a class="nav-link active" th:href="@{/Menu/all}">edit Menu</a>

            </li>
            <li sec:authorize="isAuthenticated()" class="nav-item mr-10">
                <a class="nav-link active">process Order</a>
            </li>

            <li sec:authorize="hasRole('ADMIN')" class="nav-item active" >
                <a class="nav-link active"  >manage staff</a>

            </li>
            <li sec:authorize="hasRole('ADMIN')"  class="nav-item mr-10">
                <a class="nav-link active">manage customer</a>
            </li>


            <li sec:authorize="!isAuthenticated()" class="nav-item">
                <a class="btn btn-info" th:href="@{/User/login}">Login</a>
            </li>
                <form sec:authorize="isAuthenticated()" th:action="@{/User/logout}" method="post">
                    <input class="btn btn-info"  type="submit" value="Sign Out"/>
                </form>




        </ul>
    </div>
</nav>
<header>
    <h1 sec:authorize="isAuthenticated()">Willkommen in deinem Pizza-Pronto  Portal, <a  th:href="@{/User/showUserProfile}" sec:authentication="principal.firstname"> </a> !</h1>
</header>
<div id="div-over-body">





<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>


<!-- Footer -->
<footer class="bg-dark">
    <p>&copy; 2023 Pizza-Pronto. Alle Rechte vorbehalten.</p>
</footer>
</div>
</body>
</html>
