<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec = "http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head>
           <title>Pizza Pronto</title>
        <!-- CSS only -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">


        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />

        <link rel="stylesheet" type="text/css" href="/css/main.css">
     </head>




     <body style=" padding-top: 0px;">

     <!-- JavaScript to show the toast on button click -->
     <nav class="navbar navbar-expand-lg navbar-custom justify-content-center">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
          <a class="navbar-brand" th:href="@{/Product/Home}">Pizza Pronto</a>
  <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
    <ul class="nav justify-content-center">




        <li>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Categories</a>
                <div class="dropdown-menu">
                    <a th:href="@{/Product/pasta}"  class="dropdown-item">Pasta</a>
                    <a th:href="@{/Product/pizza}" class="dropdown-item">Pizza</a>
                    <a th:href="@{/Product/dessert}" class="dropdown-item">Dessert</a>
                </div>
            </div>
        </li>


        <li class="nav-item">
            <a class="nav-link active" th:href="@{/Product/Home}">STORE</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"  th:href="@{/Cart/viewCart}">CART</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" th:href="@{/Order/userorders} ">MY ORDERS</a>
        </li>



        <li class="nav-item">
            <a class="nav-link" th:href="@{/Contact/ContactUs} ">CONTACT US</a>
        </li>

<!--        <li class="nav-item" sec:authorize="isAuthenticated()">-->
<!--            Welcome,-->
<!--            <a class="nav-link" th:href="@{/User/showUserProfile}" sec:authentication="principal.firstname"> </a>-->
<!--        </li>-->



        <li class="nav-item">
        <form   th:action="@{/Product/search }  "
              method="GET"  class="form-inline">
            <input class="form-control mr-sm-2" type="search" name="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0 mr-5" type="submit ">Search </button>
        </form>
        </li>

        <li sec:authorize="!isAuthenticated()" class="nav-item mr-5">
            <a class="btn btn-outline-light" th:href="@{/User/login}">Login</a>
        </li>
        <form sec:authorize="isAuthenticated()" th:action="@{/User/logout}" method="post">
            <input class="btn btn-outline-light"  type="submit" value="Sign Out"/>
        </form>

    </ul>


 <div class="nav-item">

     <a th:href="@{/Cart/viewCart}">
        <img  id="cart-icon" src="/images/cart.png">
        </a>
</div>


  </div>
</nav>



      <div>
              <div class="container">
                  <div class="dropdown">
                      <button class="btn btn-dark dropdown-toggle" type="button"data-toggle="dropdown">sort By
                          <span class="caret"></span></button>
                      <ul class="dropdown-menu">
                          <li><a th:href="@{/Product/orderByPriceAsc}">Price: Low to High </a></li>
                          <li><a th:href="@{/Product/orderByPriceDesc}">Price:High to Low</a></li>
                      </ul>
                  </div>
              </div>
      </div>
     <!-- Toast container -->
     <div id="toast-container" class="position-fixed top-0 end-0 p-3">
         <!-- Toast message -->
         <div id="toast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">

             <!--<div class="toast-body">
                 one Dish added to the Card !
             </div>-->
         </div>
     </div>


      <!-- Products-->
         <div class="container">
                <br>
               <div class="row">
	<tr th:each="products : ${p1}">



		<div class="col-lg-4">
			<img class="thumbnail" th:src="${products.pictureUrl}">
			<div class="box-element product">
                <h3><span th:text="${products.name}" class="float-start badge rounded-pill bg-dark" style="background-color: #FF5733; color: white;"></span></h3>
				<hr>
                <li >
                    Price :<span th:text="${products.price} + '&euro;'">  </span>
                </li>
                <li>Description: <span th:utext="${products.shortDescreption}"></span></li>



                <div class="mt-4">
                    <!-- Add to Card -->
                    <a  name="showToastLink" th:href="@{/Cart/addToCart(id=${products.id})}" class="btn btn-outline-secondary add-btn">Add to Cart</a>
                    <!-- View -->
                    <a class="btn btn-outline-success" th:href="@{/Product/view(Pid=${products.id})}">View</a>
                </div>

			</div>
		</div>



        <!--<div class="col-lg-4">
            <img class="thumbnail" th:src="${products.pictureUrl}">
            <div class="box-element product">
                <h3><span th:text="${products.name}" class="float-start badge rounded-pill bg-dark" style="background-color: #FF5733; color: white;"></span></h3>
                &lt;!&ndash;<span th:text="${products.price}" class="float-end price-hp"></span>&ndash;&gt;
                &lt;!&ndash;<h6> <span th:text="${products.name}"></span></h6>&ndash;&gt;
                <hr>
                <li >
                    Price :<span th:text="${products.price}"> € </span>
                </li>
                &lt;!&ndash; Add to Card &ndash;&gt;



                <li>Ingredients: <span th:each="ingredient : ${products.getIngredients()}">

                        <span th:text="${ingredient.name}"> </span>,
                    </span>
                </li>
                <li>Description: <span th:utext="${products.shortDescreption}"></span></li>
                <div clasS="mt-4">
                    <a th:href="@{/Menu/update(id=${products.id})}" class="btn btn-outline-secondary add-btn">Update</a>
                    &lt;!&ndash; View &ndash;&gt;
                    <a class="btn btn btn-danger" th:href="@{/Menu/delete(id=${products.id})}">Delete</a>
                </div>

            </div>
        </div>-->




		</tr>

	</div>

         </div>



<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
     <!-- JavaScript to show the toast on link click -->
     <script>
         var links = document.getElementsByName('showToastLink');

         links.forEach(function(link) {
             link.addEventListener('click', function (event) {
                 // event.preventDefault(); // Prevent the default link behavior (e.g., navigation)
                 var toast = document.getElementById('toast');
                 toast.classList.add('show');

                 // Hide the toast after 3000 milliseconds (3 seconds)
                 setTimeout(function() {
                     toast.classList.remove('show');
                 }, 3000);
             });
         });
     </script>
     <!-- Footer -->
     <footer style="background-color: black; color: #737272" class="d-flex justify-content-center mt-10">
         <p>&copy; 2023 Pizza-Pronto. Alle Rechte vorbehalten.</p>
     </footer>
     </body>
</html>
