<!DOCTYPE html>
<html   lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec = "http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
  <title>Pizza Pronto</title>
  <!-- CSS only -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">


  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />

  <link rel="stylesheet" type="text/css" href="/css/main.css">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">PizzaPronto</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">


                <li class="nav-item active" sec:authorize="isAuthenticated()">
                    <!--                <a class="nav-link active" th:href="@{/Admin/viewAdminPage}">edit Menu</a>-->

                    <a class="nav-link active" th:href="@{/Menu/all}">Edit Menu</a>

                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item mr-10">
                    <a class="nav-link active" th:href="@{/Order/processOrder}">Process Order</a>
                </li>

                <li sec:authorize="hasRole('ADMIN')" class="nav-item active" >
                    <a class="nav-link active" th:href="@{/User/all}" >Manage Staff</a>

                </li>
                <li sec:authorize="hasRole('ADMIN')"  class="nav-item mr-10">
                    <a class="nav-link active">Manage Customer</a>
                </li>
                <li sec:authorize="hasRole('ADMIN')"  class="nav-item mr-10">
                    <a class="nav-link active" th:href="@{/vouchers/all}">Show Discounts</a>
                </li>


                <li sec:authorize="!isAuthenticated()" class="nav-item">
                    <a class="btn btn-info" th:href="@{/User/login}">Login</a>
                </li>
                <form sec:authorize="isAuthenticated()" th:action="@{/User/logout}" method="post">
                    <input class="btn btn-info"  type="submit" value="Sign Out"/>
                </form>




            </ul>
        </div>
    </nav>
</head>




<body style=" padding-top: 80px;">




<div class="container">
    <table class="table table-bordered mx-auto">
      <thead class="thead-dark">

      <tr>
        <th>Name</th>
       <th>Email</th>
        <th>Gender</th>
        <th>Salary</th>
        <th>Status</th>
        <th>Working Hours</th>
        <th></th>
      </tr>

      </thead>
      <tbody>
      <tr th:each=" employee : ${employeeList}">

    <!--    <td><a type="button" class="btn btn-danger"-->
    <!--           th:href="@{/Cart/DeleteSingleIteam(Pid=${cart.product.id})}">edit Order</a></td>-->
          <td th:text="${employee.getFullname()}"></td>
          <td th:text="${employee.getEmail()}"></td>
        <td th:text="${employee.getGender()}"></td>
        <td th:text="${employee.getSalary()} +'&euro;'"></td>
        <td th:text="${employee.getRoles()}"></td>
        <td th:text="${employee.getWorkingHours()}"></td>
          <td>
          <button class="btn btn-danger btn-sm custom-btn d-flex align-items-center justify-content-center" > <a class="nav-link active" th:href="@{/Admin/removeEmployee(id=${employee.getId()})}">Remove Employee</a></button>
          </td>
      </tr>
      </tbody>
    </table>
</div>
<div  sec:authorize="isAuthenticated()" class="d-flex justify-content-center">

    <button class="btn btn-success btn-sm"> <a class="nav-link active" th:href="@{/Admin/addUser}">Add Employee</a></button>

</div>

<footer class="bg-dark d-flex justify-content-center mt-10">
    <p>&copy; 2023 Pizza-Pronto. Alle Rechte vorbehalten.</p>
</footer>
</body>
</html>

<style>
    .custom-btn {
        height: 25px; /* Set your desired height in pixels */
    }
</style>
