<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec = "http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Pizza Pronto</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />

    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body sec:authorize="isAuthenticated()">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">PizzaPronto</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">

            <li class="nav-item active" sec:authorize="isAuthenticated()">
                <!--                <a class="nav-link active" th:href="@{/Admin/viewAdminPage}">edit Menu</a>-->

                <a class="nav-link active" th:href="@{/Menu/all}">edit Menu</a>

            </li>
            <li sec:authorize="isAuthenticated()" class="nav-item mr-10">
                <a class="nav-link active">process Order</a>
            </li>

            <li class="nav-item mr-5">
                <form   th:action="@{/Product/search }  "
                        method="GET"  class="form-inline">
                    <input class="form-control mr-sm-2" type="search" name="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit ">Search </button>
                </form>
            </li>
            <li class="nav-item">
                <form sec:authorize="isAuthenticated()" th:action="@{/User/logout}" method="post">
                    <input class="btn btn-outline-light"  type="submit" value="Sign Out"/>
                </form>
            </li>



        </ul>
    </div>
</nav>


<center>
    <!--<a  class="btn btn-outline-dark" th:href="@{/Admin/viewAddProductPage}">&#x2190; Add Dish</a>-->

    <div class="alert alert-info" th:if="${success}" style="color: #d58512 ;" >
        <p class="text text-center">
            Adding User is success!!
        </p>
</center>


<!-- Products-->


<div class="container">
    <br>
    <div class="row">
        <tr th:each="products : ${p1}">
            <div class="col-lg-4">
                <img class="thumbnail" th:src="${products.pictureUrl}">
                <div class="box-element product">

                    <h6> <span th:text="${products.name}"></span></h6>
                    <hr>
                    <li >
                        Price :<span th:text="${products.price}"> $ </span>
                    </li>
                    <!-- Add to Card -->
                    <a th:href="@{/Menu/update(id=${products.id})}" class="btn btn-outline-secondary add-btn">Update</a>
                    <!-- View -->
                    <a class="btn btn-outline-success" th:href="@{/Menu/delete(id=${products.id})}">delete</a>


                    <li>Ingredients: <span th:each="ingredient : ${products.getIngredients()}">

                        <span th:text="${ingredient.name}"> </span>,
                    </span>
                    </li>
                    <li>Descreption: <span th:utext="${products.shortDescreption}"></span></li>
                </div>
            </div>
        </tr>

    </div>

</div>

    <div style="background-color: #353c4e" sec:authorize="isAuthenticated()">
    <a class="nav-link active" th:href="@{/Menu/viewAddProductPage}">Add Dish</a>

</div>
<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<!-- Footer -->
<footer class="bg-dark">
    <p>&copy; 2023 Pizza-Pronto. Alle Rechte vorbehalten.</p>
</footer>
</body>
</html>
